{% extends 'base.html' %}
{% load static %}

{% block resume %}
<!-- Main CV wrap -->
<main class="cv">
   <div class="wrap">
      <nav class="cv-main-nav">
         <a href="#">
            <i class="icon-cloud-download"></i>
         </a>
         <a href="#" class="cv-print-button">
            <i class="icon-printer"></i>
         </a>
      </nav>

      <div class="cv-author">
         <div class="cv-photo side">
            <img src="{{ user.resume.avatar.url }}" alt="" />
         </div>

         <h1>
            {{ user.first_name }}
            <br/>{{ user.last_name }}<span class="comma">,</span>
            <small>Web Designer & Web developer</small>
         </h1>
      </div>

      <article>
         <p>
            This is demo of our
            <a href="https://github.com/pixelpauldesign/free-resume-theme">Free Resume Theme</a>. You can download it from GitHub for free. Check theme settings: you can customize layout, theme color, background pattern or RTL version. Theme is ready for print, you can print it directly from browser.
         </p>
      </article>

      <!-- Work experience section -->
      <section>
         <h2>Work experience</h2>

         <article class="cv-job">
            <h3>
               Brand Manager
               <small class="cv-time-period side">
                  2002 <span class="slash">/</span> 2007
               </small>
            </h3>

            <h4>Web Design Studios, Full-Time</h4>

            <p>
               Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada.
               <a href="">Donec sollicitudin
               </a> molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta.
            </p>

            <ul>
               <li>Vivamus vitae libero odio, eu interdum elit</li>
               <li>Cras ultricies ligula sed magna dictum porta</li>
               <li>Donec rutrum congue leo eget malesuada</li>
            </ul>
         </article>

         <article class="cv-job">
            <h3>
               Senior Project Manager
               <small class="cv-time-period side">
                  2002 <span class="slash">/</span> 2007
               </small>
            </h3>

            <h4>Web Design Studios, Full-Time</h4>

            <p>
               Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
               Curabitur aliquet quam id dui posuere blandit.
            </p>

            <ol>
               <li>Vivamus vitae libero odio, eu interdum elit</li>
               <li>Cras ultricies ligula sed magna dictum porta</li>
               <li>Donec rutrum congue leo eget malesuada</li>
            </ol>
         </article>
      </section>

      <!-- Education section -->
      <section>
         <h2>Education</h2>

         <article class="cv-job">
            <h3>
               University of Georgia
               <small class="cv-time-period side">
                  2002 <span class="slash">/</span> 2007
               </small>
            </h3>

            <p>
               Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras
               ultricies ligula sed magna dictum porta.
            </p>
         </article>

      </section>

      <!-- Awards & achivements section -->
      <section>
         <h2>Awards & achivements</h2>

         <h3>
            Best theme on themeforest
            <small class="cv-time-period side">
               2015
            </small>
         </h3>

         <h3>
            Cool Web Awards winner
            <small class="cv-time-period side">
               2014
            </small>
         </h3>

      </section>

      <!-- Technical skills section -->
      <section>
         <h2>Personal skills</h2>

         <!-- Code skills -->
         <ul class="cv-skills">
            <!-- CSS skill -->
            <li>
               <canvas data-percentage="90"></canvas>
               <div class="percentage">90%</div>
               <p>CSS</p>
            </li>
            <!-- PHP skill -->
            <li>
               <canvas data-percentage="90"></canvas>
               <div class="percentage">90%</div>
               <p>PHP</p>
            </li>
            <!-- JavaScript skill -->
            <li>
               <canvas data-percentage="80"></canvas>
               <div class="percentage">80%</div>
               <p>JavaScript</p>
            </li>
            <!-- HTML5 skill -->
            <li>
               <canvas data-percentage="50"></canvas>
               <div class="percentage">50%</div>
               <p>HTML5</p>
            </li>
         </ul>
      </section>

      <!-- Portfolio section -->
      <section class="hide-print">
         <h2>Portfolio</h2>

         <!-- Portfolio gallery navigation -->
         <nav class="cv-tabs">
            <a href="#" class="active">Webpages</a>
            <a href="#">Applications</a>
            <a href="#">Brand</a>
         </nav>

         <!-- Portfolio gallery -->
         <ul class="cv-gallery">
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-1.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-1.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-2.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-2.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-3.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-3.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-4.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-4.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-5.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-5.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-6.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-6.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-7.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-7.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-8.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-8.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-9.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-9.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-10.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-10.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-11.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-11.jpg' %}" alt="" />
               </a>
            </li>
            <li>
               <a class="image-link" href="{% static 'images/portfolio/portfolio-12.jpg' %}">
                  <img src="{% static 'images/portfolio/portfolio-12.jpg' %}" alt="" />
               </a>
            </li>
         </ul>
      </section>

      <!-- Hobby section -->
      <section>
         <h2>Hobby</h2>

         <ul class="cv-hobby">
            <li>
               <i class="icon-plane"></i>
               Travel
            </li>
            <li>
               <i class="icon-game-controller"></i>
               Games
            </li>
            <li>
               <i class="icon-book-open"></i>
               Books
            </li>
            <li>
               <i class="icon-music-tone-alt"></i>
               Music
            </li>
            <li>
               <i class="icon-rocket"></i>
               Dream
            </li>
         </ul>
      </section>

      <section class="row">

         <div class="col-half">
            <h2>Extra</h2>

            <p>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
               sanctus est Lorem ipsum dolor sit amet.
            </p>
         </div>
         <div class="col-half">

            <!-- Language section -->
            <h2>Language</h2>

            <ul class="cv-languages">
               <li>
                  <strong class="language-name">English
                     <small>100%</small>
                  </strong>

                  <div class="progress">
                     <div class="bar" style="width: 100%"></div>
                  </div>
               </li>
               <li>
                  <strong class="language-name">Spanish
                     <small>80%</small>
                  </strong>

                  <div class="progress">
                     <div class="bar" style="width: 80%"></div>
                  </div>
               </li>
               <li>
                  <strong class="language-name">Portugal
                     <small>80%</small>
                  </strong>

                  <div class="progress">
                     <div class="bar" style="width: 80%"></div>
                  </div>
               </li>
               <li>
                  <strong class="language-name">Russian
                     <small>40%</small>
                  </strong>

                  <div class="progress">
                     <div class="bar" style="width: 40%"></div>
                  </div>
               </li>

            </ul>
         </div>

      </section>

      <!-- Footer -->
      <footer class="cv-footer">
         Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
      </footer>

      <!-- Have a nice day slogan -->
      <div class="cv-slogan">
         Have a
         <strong>nice day</strong>!
      </div>
   </div>
</main>
{% endblock resume %}